<h1><%= @dt.name %><h1><br>
<h2>Team Motto: <%= @dt.motto %></h2>

<% @heroes.each do |hero| %>
  <div class="course">
    <h1>Name: <%= hero.name %></h1>
    <p>Power: <%= hero.power %></p><br>
    <p>Biography: <%= hero.biography %></p><br><br>
  </div><br>
<% end %>
