<h1><%= @dt.name %><h1><br>
<h2>Team Motto: <%= @dt.motto %></h2>

<% @heroes.each do |hero| %>
  <div class="course">
    <p>Name: <%= course.name %></p><br>
    <p>Power: <%= course.topic %></p><br>
    <p>Biography: <%= course.topic %></p><br>
  </div><br>
<% end %>
